html
    head
        title= title
        link( href='/css/main.css' , rel='stylesheet' )
    body
        
        form( name='tweet_name' , method='GET' action='getTweet' )
            div
                label( for='twitter' ) Twitter
                input( name='twitter' , placeholder='twitter here' )
            div
                input( value='search' , type='submit' )


        - for (var i = 0; i < tweet.length; ++i) {
        p='------------------------'
        ul
            li= tweet[i].created_at
            li= tweet[i].text
            li= tweet[i].retweet_count
            li 
                a( href="https://twitter.com/"+tweet[i].user.id+"/status/"+tweet[i].id target='_blank') link
        - }

        script(type='text/javascript',src='/lib/angular/angular.min.js')
        script(type='text/javascript',src='/application.js')